/*............... Reset HTML............ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ............Default................. */


html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;

}

a{
    text-decoration: none;
    
}
a:hover{
    color: rgb(18, 174, 185) ;
}

/* ...............Navbar.............. */

#navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    float: right;
    top: 0;
    padding: 1rem;
    margin: 10px;
}
#navbar a{
    color: black;
    font-weight: bolder;
}

#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li a{
    padding: 10px;
    margin: 20px;
}

#navbar ul li a:hover{
    color: rgb(18, 174, 185);
    font-size: 20px;
     /* shadow */
     -webkit-box-shadow: -2px 0px 67px -15px rgba(6,199,199,0);
    -moz-box-shadow: -2px 0px 67px -15px rgba(6,199,199,0);
    box-shadow: -2px 0px 67px -15px rgba(6,199,199,0);
    
}


.feed-in{
    
    text-align: center;
    align-items: center;
    font-family: arial;
    float: left;
    padding: 1rem;
    font-size: 20px;
  }


  .feed-in ul li{
    list-style: none;
    float: right;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    background: rgb(18, 174, 185);
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 1;
}
  
  .feed-in ul li:hover{
    color: #FFF;
}
 
  .feed-in ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    transform: scale(0);
    z-index: -1;
}

 

  .feed-in ul li:nth-child(1)::before{
    background:#3B5998;
    /* facebook */
    
}

  .feed-in ul li:nth-child(2)::before{
    background:#00ACEE;
    /* twitter */
    
}

.feed-in ul li:nth-child(3)::before{
    background: #DD2A7B;
    /* instagram */
    
}

.feed-in ul li:nth-child(4)::before{
    background:#C8232C;
    /* pinterest */
    
}

.feed-in ul li:nth-child(5)::before{
    background:#AD5C51;
    /* github */
}

.feed-in ul li:nth-child(6)::before{
    background:#0088CC;
    /* telegram */
}


.feed-in ul li:nth-child(7)::before{
    background:#DD4B39;
    /* google+ */
}




  
  .feed-in ul li:hover:before{
    transform: scale(.9);
}


/*.............. Homepage ........... */

.bg{
    background:white url('../img/pexels-pixabay-509922.jpg')no-repeat center center/cover;
    height: 100vh;
}
.homepage{
    
    padding:180px 0px 0px 0px;
    overflow: hidden;
    
    
}

.homepage h1{
    font-size: 30px;
    color: black;
}
.homepage h1:hover{
   
    color: rgb(102, 102, 102);
}

.homepage p{

    position: relative;
    overflow: hidden;
    white-space:pre-line;
    font-size: 20px;
    color: gray;
    margin-top: 20px;
    margin-left: 0px;
     
}


.contactbtn {
    background-color:rgb(18, 174, 185) ;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 7px;
    margin-top: 25px;
}

.contactbtn a{
    color: white;
}

.contactbtn:hover{
    background-color: rgb(12, 106, 112);
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;

    /* shadow */
    -webkit-box-shadow: -2px 0px 67px -15px rgba(6,199,199,1);
    -moz-box-shadow: -2px 0px 67px -15px rgba(6,199,199,1);
    box-shadow: -2px 0px 67px -15px rgba(6,199,199,1);

}

/* .............about................. */

.aboutpage{

    padding:50px;
    text-align: center;
}

.aboutpage h1{

    font-size: 30px;
}

.aboutpage h1:hover{

    color: rgb(102, 102, 102);
}

.aboutpage p{

    overflow: hidden;
    white-space: pre-line;
}

/* .........progpage......... */

.prog{
    background: white url('../img/pexels-scott-webb-403571.jpg')no-repeat center center/cover;
    height: 100vh;
    
}

.contentprog{
    padding-top: 200px ;
    padding-left: 150px;

}

.contentprog h1{
    font-size: 30px; 
    margin-bottom: 30px;
      
}


.contentprog h1:hover{
    color: rgb(102, 102, 102);
}

.prog1{
    margin-bottom: 40px;
    
}

progress {
    border: none;
    width: 500px;
    background-color: grey;
    color: rgb(18, 174, 185);
    height: 6px;
    
}
  
progress::-webkit-progress-value {
    background:rgb(18, 174, 185);
    
}
  
progress::-moz-progress-bar {
    background: rgb(18, 174, 185);
}

.blueicone{
    height: 30vh;
    background: rgb(18, 174, 185);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center; 
}

.blueicone div {
    padding-right: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.blueicone i{
    font-size: 40px;
}

.blueicone p{
    font-size: 20px;
}

.picgrid{ 
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.grid{
    background: black;
}

.grid img{
    display: block;
    opacity: 1;
    width: 379px;
    height: 300px;
    transition: .3s ease;
    backface-visibility: hidden;
}

.grid img:hover{
    opacity: 0.3;
     
}
 .fa-eye{
     color: grey;
 }
.overlay{
    position: absolute;
    margin: 130px 0px 0px 150px;
    font-size: 40px; 
    opacity: 0;
    transition: .3s ease;
}
.grid:hover .overlay{
    opacity: 1;
}

.loaddiv{
    margin: 0;
    border: none;
    text-align: center;
    padding: 30px;
    width: 100%;
    background: rgb(201, 198, 198);
    color: gray;
}

.loaddiv a{
    color: white;
}


.loaddiv a:hover{
    color:rgb(18, 174, 185) ;
}

/* modal css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}



@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.otherwork{
   padding: 60px;  
   
}

.otherwork p{
    padding-top: 20px;
    font-size:15px;
    color: grey;
    text-align: center;
    overflow: hidden; 
   text-overflow: ellipsis;
   
}

.otherwork h4{
    font-size: 40px;
    text-align: center;
}
 .otherwork h4:hover{
     color: rgb(102, 102, 102) ;
 }

 .otherwork video{
     margin: 70px 250px 70px 200px;
     background: #000;
     height: 500px;
     width: 1000px;
 }
.iconbar{
    padding: 70px;
    display: flex;
    justify-content: center;
    background: #e8e8e8;
    flex-wrap: wrap;   
}
 .iconbar div{
     padding: 20px;
     margin: 50px;
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: baseline;
 }
 .iconbar i{
     font-size: 30px;
     font-style: normal;
     
 }

 .iconbar i:hover{
   color:  rgb(18, 174, 185);
    
}
.iconbar h5{
    padding-top: 10px;
}
 .iconbar p{
     padding-top: 10px;
     color: grey;
 }

 .bluesec{
     background: rgb(18, 174, 185);
     padding: 50px;
     text-align: center;
     height: 50vh;
     font-size: 25px;
     color: white;
 }



.slides {
    padding: 130px;
    position: sticky;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input {
     display: none;
}

.slide-container { 
    display: block;
}

.slide {
    top: 0;
    opacity: 0;
    width: 600px;
    height: 310px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
    margin-left: 270px;
  
}


.slide:hover + .nav label { 
    opacity: 0.5; 
}

.nav label:hover { 
    opacity: 1; 
}



input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { 
    display: block; 
}

.nav-dots {
    width: 100%;
    padding-right:1000 px;
	bottom: 9px;
	height: 11px;
    display:block;
    position: absolute;
    left: 0;

}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 4px;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(233, 232, 232, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
}


  
 .brand{
     display: flex;
     padding: 70px;
     justify-content: center;
 }
.brand div {
    height: 150px;
    width: 150px;
    margin-right: 70px;
    margin-left:70px ;
}
.brand img{
    height: 150px;
    width: 150px;
}
.brand div:nth-child(1):hover{
    content: url('../img/brand\ \(1\).png');
}

.brand div:nth-child(2):hover{
    content: url('../img/brand\ \(2\).png');
}

.brand div:nth-child(3):hover{
    content: url('../img/brand\ \(3\).png');
}


.brand div:nth-child(4):hover{
    content: url('../img/brand\ \(4\).png');
}


.brand div:nth-child(5):hover{
    content: url('../img/brand\ \(5\).png');
}

.bg-form{
    background: #e8e8e8;
    padding: 20px;
}


.formcontact{
    overflow: hidden;
    text-overflow:ellipsis ;
    white-space: pre-line;  
}

.formcontact h4{
    text-align: center;
    padding-bottom: 4px;
    font-size: 30px; 
}

.formcontact h4:hover{
    color: rgb(102, 102, 102);
}

.formcontact p{
    text-align: center;
    color: gray;
    font-size: 20px;
}


.formgroup{
    
    padding: 20px;
    width:600px;
    margin: auto;
}

input{ 
    width:100%;
    padding: 20px;
    margin-bottom:15px;
    border-radius:5px;
    border:none;
    outline:none;
    font:18px Raleway; 
}

#name , #email{
    margin-right: 3px;
    margin-left: 3px;
    
}
.inp{
    display: flex;
    flex-direction: row;
    
    
}

  
input[type="submit"]{
    background:rgb(18, 174, 185);
    color:#FFF;
    width:100%;
    padding: 15px;
    font-weight:700;
    opacity:0.8;
    font-size: 20px;
    
    
}

.txtarea{
    resize: none;
    width:100%;
    padding: 20px;
    margin-bottom:10px;
    border-radius:5px;
    border:none;
    outline:none;
    font:18px Raleway;
}
  
  
input[type="submit"]:hover{
  cursor:pointer;
  opacity:1;
  background-color: rgb(12, 106, 112);
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;


}
  
input[type="text"]:focus{
    
    border-left:8px solid rgb(18, 174, 185);
    -webkit-transition:0.4s ease;
}
  
input[type="email"]:focus{
    
    border-left:8px solid rgb(18, 174, 185);
    -webkit-transition:0.4s ease;
}


textarea:focus{
    border-left:8px solid rgb(18, 174, 185);
    -webkit-transition:0.4s ease;

}

/* .................footer................. */

.bg-foot{
    background: #212121;
    height: 35vh;
    display: flex;
    padding: 30px;
    margin: auto;
    align-items: baseline;  
}

.col1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.col1 h2{
    color: white;
    padding-bottom: 10px;
}


.col1 h2:hover ,
.col1 p:hover{

    color:rgb(18, 174, 185) ;
}


.col1 p{
    color: gray;
}

.col2{
  
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 150px;
    color: gray;  
}

.col2 p:hover{
    color:rgb(18, 174, 185) ;
}
    

.col3{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 120px;
    color: gray;

}

.col3 a{
    color: gray;
}

.col3 a:hover{
    color:rgb(18, 174, 185) ;
}

.col4{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 5px;
    color: gray;

}

.col4 a{
    color: gray;
}

.col4 a:hover{
    color:rgb(18, 174, 185) ;
}

.col5{

    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 200px;
    color: gray;

}

.col5 a{
    color: gray;

}


.col5 a:hover{
    color:rgb(18, 174, 185) ;

}
.rounded-social-buttons{
    display: none;
}



/* ............contact............. */
.navcontact{
    background: white;
    padding: 10px;
    /* width: 100%; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.navcontact a{
    color: black;
    font-weight: bolder;
}

.navcontact ul{
    display: flex;
    list-style: none;
}
.navcontact ul li a{
    padding: 10px;
    margin: 20px;
}

.navcontact ul li a:hover{
    color: rgb(18, 174, 185);
    /* font-size: 20px; */
     /* shadow */
     -webkit-box-shadow: -2px 0px 67px -15px rgba(6,199,199,0);
    -moz-box-shadow: -2px 0px 67px -15px rgba(6,199,199,0);
    box-shadow: -2px 0px 67px -15px rgba(6,199,199,0);
    
}


.conmain{
    background:#F5F5F5;
    height: fit-content; 
    padding: 100px; 
    
}

.forminfo{
    display: flex;
}


.infocon {
    overflow: hidden;
    white-space: pre-line;
    padding: 0px;
    display: flex; 
    flex-direction: column;
    
}

.infocon h1{
    padding-bottom: 10px;
}

.conmain p{
    padding-bottom: 50px;
}


.span1{
    padding: 10px;
}


.formcon{
    margin-top: 0;
    margin-right: 0;
}



.mapouter{
    position:relative;
    height:500px;
    width:1000px;
    padding-top: 50px;
    padding-left: 80px; 
    margin-left: 100px;  
       
}


.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:1000px;
   background-color: gray;
}


.gmap_canvas :hover{
    border: none;
   border-radius: 50px;
}

